/* Root start */

:root {
  --MR: "MR";
  --MSB: "MSB";
  --MBI: "MBI";
  --MB: "MB";
  --TBI: "TBI";
  --TB: "TB";
  --body: #ffffff;
  --text: #323232;
  --dots: #828282;
  --dots-active: #7177f1;
  --purple: #7177f1;
}
/* Root end */


body {
  background: var(--body);
  color: var(--text);
  font-family: var(--MR);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
p,
li,
ul {
  margin: 0;
}

.btn-all {
  background: var(--purple);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  color: white !important;
  display: inline-block;
}
.title {
  color: var(--purple);
  font-size: 40px;
  line-height: 49px;
  text-transform: capitalize;
  font-family: var(--MSB);
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
}
.logo::before {
  content: url(../images/logo-light.png);
}

/* Header start */

.header__nav-link {
  font-size: 24px;
  line-height: 16px;
  color: var(--purple);
  text-transform: capitalize;
}
.header__nav-link:hover {
  color: var(--purple);
}
.header__nav-btn {
  padding: 10px 43px;
}
.header__nav-list {
  gap: 30px;
}
.header__nav-phone {
  font-size: 25px;
}

.header__nav {
  padding: 20px 0;
  position: relative;
}
.header__nav::before {
  content: "";
  display: block;
  border-radius: 50%;
  border: 0.3vw solid #790ff1;
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 60px;
  left: 12%;
  z-index: -2;
  animation: qwerty 2s alternate infinite;
}
.header__nav::after,
.header__content::before,
.header__content::after {
  content: "";
  display: block;
  border: 0.3vw solid #9297ef;
  width: 5vw;
  height: 5vw;
  position: absolute;
  z-index: -2;
  top: 100px;
  right: 8%;
  animation: qwerty 2s alternate infinite;
}
.header__content::before {
  left: 5%;
  top: 100px;
}
.header__content::after {
  right: 10%;
  top: 300px;
}

.header__nav-burger {
  color: black;
  font-size: 40px;
}

.header__content-text {
  font-size: 24px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--text);
  font-family: var(--MSB);
}
.header__content-title {
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  color: var(--purple);
  font-family: var(--MSB);
  margin-top: 10px;
  margin-bottom: 25px;
}
.header__content-btn {
  max-width: 300px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto 50px auto;
}
.header__content {
  margin-top: 30px;
  position: relative;
}
.header__bottom-icon {
  font-size: 90px;
}
.html {
  color: #e44f26;
}
.css {
  color: #33a9dc;
}
.bootstrap {
  color: #790ff1;
}

.header__bottom-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--purple);
  font-family: var(--MB);
  margin-top: 15px;
}
.header__carousel-img {
  max-height: 500px;
  object-fit: cover;
}

.header__indicators-btn {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background: var(--dots);
  border: none !important;
}
.header__indicators-btn.active {
  background: var(--dots-active);
  width: 15px !important;
  height: 15px !important;
}
.header__indicators {
  position: static;
  margin: 50px 0 0 0;
  column-gap: 30px;
}

/* Header end */

/* Main start */

.section__about {
  position: relative;
}
.section__about::before {
  content: url(../images/figure-right.svg);
  position: absolute;
  right: 0;
  top: -100%;
  z-index: -99999999;
}

.section__about-image {
  position: relative;
  min-height: 450px;
}
.section__about-img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -2;
}

.section__about-link {
  max-width: 190px;
  width: 100%;
  text-align: center;
  padding: 23px 0;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: -50px;
}
.section__about-span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0fdac2;
  font-size: 18px;
  line-height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  top: -15px;
}

.main {
  margin-top: 70px;
}
.section__about-info {
  background: var(--body);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 30px 30px 0 30px;
  height: 100%;
}
.section__about-title {
  color: var(--purple);
  font-size: 40px;
  line-height: 30px;
  font-family: var(--MSB);
  margin-bottom: 20px;
}
.section__about-text {
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.section__about-btn {
  max-width: 190px;
  width: 100%;
  padding: 14px 0;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.accordion__button {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--purple);
  color: white;
  padding: 15px 30px;
  border: none;
}
.accordion__button.collapsed {
    background: var(--body);
    color: var(--purple);
}
.accordion__item-arrow {
    transition: transform 300ms;
    
}
.accordion__button.collapsed .accordion__item-arrow {
    transform: rotateX(180deg);
}

.accordion__item:nth-of-type(1) .accordion__button.collapsed .accordion__item-icon {
    color: #E44F26;
}
.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__item-icon {
    color: #1572B6;
}
.accordion__item:nth-of-type(3) .accordion__button.collapsed .accordion__item-icon {
    color: #790FF1;
}



.accordion__item-span {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: var(--MB);
  margin-left: 15px;
}

.accordion__body {
  background: var(--purple);
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  padding: 25px 30px;
}
.accordion {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  overflow: hidden;
}


.section__work-link {
    background: var(--body);
    color: var(--purple);
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: var(--MSB);
    padding: 19px 0 19px 19px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
}
.section__work-link:hover {
  background: none;
  color: var(--purple);
}

.section__work-link.active {
  background: var(--purple);
  color: var(--body);
}

.section__work-pane {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 20px;
  height: 100%;
}

.tab-content {
  height: 100%;
}
.section__work-image {
  height: 320px;
}
.section__work-img {
  object-fit: cover;
}
.section__work-title {
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  font-family: var(--MSB);
  color: var(--purple);
}
.section__work-text {
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
}
.section__work-btn {
  max-width: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  font-family: var(--MSB);
  padding: 11px 0;
}


/* Main end */

/* footer start */

.footer__item-link {
  font-size: 24px;
  line-height: 16px;
  color: var(--purple);
  text-transform: capitalize;
}
.footer__item-link:hover {
  color: var(--purple);
}
.footer__info-tell{
  font-size: 24px;
  line-height: 16px;
  color: var(--purple);
  text-transform: capitalize;
}
.footer__info-tell:hover{
  color: var(--purple);
}
.footer__info-gmail{
  font-size: 24px;
  line-height: 16px;
  color: var(--purple);
  text-transform: capitalize;
}
.footer__info-gmail:hover{
  color: var(--purple);
}
.footer__logo{
  display: flex;
  justify-content: center;
}
.footer{
  padding: 220px 0 130px 0;
}
.footer__list{
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-around;
}
.footer__info{
  max-width: 630px;
  width: 100%;
}
.footer__info-about{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}




/* footer end */

@media (max-width: 1200px) {
  .section__about-image {
    margin-bottom: 50px;
  }
  .section__about-link {
    left: 0;
  }
  .section__about::before {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__content-title {
    font-size: 22px;
  }
  .section__about-title {
    font-size: 22px;
    text-align: center;
  }
  .section__about-text {
    text-align: center;
  }
  .footer__info-gmail{
    font-size: 16px;
    line-height: 10px;
  }
  .footer__info-tell{
    font-size: 16px;
    line-height: 10px;
  }
}
@media (max-width: 369px){
  .footer__info-gmail{
    margin-top: 20px;
    text-align: center;
  }
  .footer__info-tell{
    text-align: center;
  }
} 

@keyframes qwerty {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: translateY(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #151437;
    --text: #ffffff;
    --dots: #ebebeb;
  }
  .logo::before {
    content: url(../images/logo-dark.png);
  }
  .header__nav-burger {
    color: white;
  }
}
